__pycache__/
*.pyc
*.ipynb_checkpoints
venv/
.DS_Store



# Ignore all image/label data
dataset/day/images/
dataset/day/labels/
dataset/night/images/
dataset/night/labels/

# If you also generate train/val folders:
dataset_day/
dataset_night/

# Ignore LabelImg/Roboflow artifacts
*.xml
